h1= title
form(method="post",action="/login")
	table
	tr
		td
			p= sub_title
		td
			input(type="text" ,name= input_name, maxlength="12")
	tr
		td
			input(type="submit",value="ログイン")
	p: a(href="/"): span TOPページに戻る