meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1")
title= title
link(rel='stylesheet', href='/public/CSS/bootstrap.min.css')
link(rel='stylesheet', href='/public/CSS/bootstrap-theme.min.css')
link(rel='stylesheet', href='/public/CSS/all.min.css')
script(type='text/javascript', src='/public/javascripts/jquery.js')
script(type='text/javascript', src='/public/javascripts/fastclick.min.js')
script(type='text/javascript', src='/public/javascripts/bootstrap.min.js')
script(type='text/javascript', src='/public/javascripts/socketio_2_2_0.js')
script(type='text/javascript', src='/public/javascripts/niconico.js')
script(type='text/javascript', src='/public/javascripts/jquery.qrcode.js')
script(type='text/javascript', src='/public/javascripts/qrcode.js')
