.form-group
	label.control-label.col-sm-2 スタンプ
	.input-group
		button.btn.btn-default(style='margin-right: 16px',type='button', onclick="like('00_Good')")
			i.fa.fa-thumbs-o-up いいね！
		button.btn.btn-default(style='margin-right: 16px',type='button', onclick="like('01_kyoshu')")
			i.fa.fa-hand-paper-o 質問
		button.btn.btn-default(style='margin-right: 16px',type='button', onclick="like('02_maki_1')")
			i.fa.fa-fast-forward 巻きで
		br
		br
		button.btn.btn-default(style='margin-right: 16px',type='button', onclick="like('03_maru')") 〇
		button.btn.btn-default(style='margin-right: 16px',type='button', onclick="like('04_batsu')") ×
		br
		br
		button.btn.btn-default(style='margin-right: 16px',type='button', onclick="like('mizaru')") 画面不調
		button.btn.btn-default(style='margin-right: 16px',type='button', onclick="like('kikazaru')") 音声不調
		button.btn.btn-default(style='margin-right: 16px',type='button', onclick="like('iwazaru')") マイク不調
		