html
	head
		include head.pug
	body
		.container
			//- 名前
			form
				//- ニックネーム
				.form-group
					form.form-horizontal(style='margin: 16px', role='form', action='/nico/nickname', method='get', onsubmit='handleSubmit(this); return false;')
						include nickname.pug 
				//- スタンプ
				form.form-horizontal(style='margin: 16px', role='form', action='/like', method='get', onsubmit='handleSubmit(this); return false;')
					include commonStamp.pug
				//- URLイメージ
					form.form-horizontal(style='margin: 16px', role='form', action='/nico/like', method='get', onsubmit='handleSubmit(this); return false;')
						include imageURL.pug 
				//- コメント
				form.form-horizontal(style='margin: 16px', role='form', action='/nico/comment', method='get', onsubmit="if (this.body.value == '') return false; handleSubmit(this); this.body.value = ''; return false;")
					include comment.pug
			//-　QRコード
			form.form-horizontal(style='margin: 16px')
				.form-group
					label.control-label.col-sm-2 QRcode
					#qrcode
				script.
					jQuery('#qrcode').qrcode({
						width: 128, height: 128,
						text	: location.href
					});
			//-　URLをコピー
			form.form-horizontal(style='margin: 16px')
				.form-group
					label.control-label.col-sm-2
						a( onclick='clipURL("")') URLコピー <br>
						a( onclick='clipURL("ie")') URLコピー(IE用)
		script.
			var socket = io.connect();
			socket.emit("client_to_server_join", "#{room}");
			function clipURL(ie) {
				console.log(ie)
				if (ie == "ie"){
					var url = location.href.replace("ie=0","ie=1");
				}else{
					var url = location.href;
				}
				$('body').append('<textarea id="currentURL" style="position:fixed;left:-100%;">'+url+'</textarea>');
				$('#currentURL').select();
				document.execCommand('copy');
				$('#currentURL').remove();
				alert("URLをコピーしました。");
			}
		.container.text-right
			p: a(href="/login/name"): span ニックネームを変更する。
			p: a(href="/login/room"): span ルームを変更する。
			p: a(href="/"): span TOPページに戻る
			p: a(href='https://github.com/UC-SADA/niconico-meeting-server/releases',target = "_blank") アプリのダウンロード
			NicoNico-Meeting © 2017-20 @Ammonite
