.form-group
  label.control-label.col-sm-2 ニックネーム <br>!{name} 
  .input-group.btn-group(data-toggle='buttons') 
    label.btn.btn-default.active(onclick="nickname('ON')")
      input.needsclick(type='radio')
      | 表示
    label.btn.btn-default(onclick="nickname('OFF')")
      input.needsclick(type='radio')
      | 非表示